nav.navbar.navbar-expand-sm.navbar-light.bg-dark
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggle-icon
    div.collapse.navbar-collapse#navbarNav
        ul.navbar-nav.mx-auto
            li.nav-item.active.text-center
            a.nav-link(href="/") Home
            span.sr-only (current)
            li.nav-item.text-center
            a.nav-link(href="/upload") Upload
            li.nav-item.text-center
            a.nav-link(href="/") Registry
            li.nav-item.text-center
            a.nav-link(href="#") About