doctype html
html(lang='en')
  head
    <meta name="viewport" content="width=device-width, initial-scale=1">

    title= title
    link(rel="stylesheet", href="/css/about.css")
    include ./partials/stylesheet-partial

  body
    nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-transparent
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarNav
          ul.navbar-nav.mx-auto.navbar-active
              li.nav-item.text-center
                  a.nav-link(href="/") Home
              li.nav-item.text-center
                  a.nav-link(href="/upload") Upload
              li.nav-item.text-center
                  a.nav-link(href="/registry") Registry
              li.nav-item.text-center
                  a.nav-link.active(href="/about") About

    div.index-div
      div.index-div-row
        p.index-message-large #{"Paul & Melissa"}
    div.about-div
        //- p.index-message-md August 29th, 2020
        div.about-column
          div.about-column-groom
            h3 Groom Full Name
            p About text goes here
        div.about-column
          div.about-column-bride
            h3 Bride Full Name
            p About text goes here

    include ./partials/scripts-partial

