doctype html
html(lang='en')
  head
    title= title
    include ./partials/stylesheet-partial

  body
    div.page-header
      div.centered
        h1 Wedding Website
        // nav-bar
    include ./partials/header
    
    include ./partials/scripts-partial

