doctype html
html(lang='en')
  head
    title= title
    link(rel="stylesheet", href="/css/index.css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")


  body
    //- div.bg
    //- p.red= message
    div.page-header
      div.centered
        h1 Wedding Website
    include ./partials/header
    
    script(src='/jquery/dist/jquery.min.js')
    script(src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js")
    script(src='/bootstrap/dist/js/bootstrap.min.js')

