doctype html
html(lang="en")
    head
    <meta name="viewport" content="width=device-width, initial-scale=1">
        title= title

        link(rel="stylesheet", href="/css/upload.css")
        include ./partials/stylesheet-partial

    body
        nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-transparent
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav.mx-auto.navbar-active
                    li.nav-item.text-center
                        a.nav-link(href="/") Home
                    li.nav-item.text-center
                        a.nav-link.active(href="/upload") Upload
                    li.nav-item.text-center
                        a.nav-link(href="/registry") Registry
                    li.nav-item.text-center
                        a.nav-link(href="/about") About
        div.index-div
            div.index-row
                p.index-message.text-center= message
            div.index-row
                form(action="/upload" enctype="multipart/form-data" method="post")
                    div.custom-file
                        input(type="file" class="custom-file-input" name="uploaded-file" id="custom-file")
                        label.custom-file-label(for="customFile") Choose file
                        input.btn.btn-block.btn-primary(type="submit" id="submit-file")
    



        include ./partials/scripts-partial
    script.
     $('#custom-file').on('change', function (e) {
         let fileName = e.target.files[0].name;
         console.log(e)
         $('.custom-file-label').html(fileName);
     })

