doctype html
html(lang="en")
    head
    <meta name="viewport" content="width=device-width, initial-scale=1">
        title= title

        link(rel="stylesheet", href="/css/upload.css")
        include ./partials/stylesheet-partial

    body
        nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-transparent
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.collapse.navbar-collapse#navbarNav
                ul.navbar-nav.mx-auto.navbar-active
                    li.nav-item.text-center
                        a.nav-link(href="/") Home
                    li.nav-item.text-center
                        a.nav-link.active(href="/upload") Upload
                    li.nav-item.text-center.dropdown
                        a.nav-link.dropdown-toggle(href="/#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Registry
                        div.dropdown-menu(aria-labelledby="navbarDropdown")
                            a.dropdown-item(href="https://www.amazon.com/wedding/share/MoJoWedding2020?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;tag=storypodca-20&amp;linkId=2P4S6EY6B462X4AR" target="_blank") Amazon
                            a.dropdown-item(href="https://www.target.com/gift-registry/giftgiver?registryId=0f9d9ead3fc54e2e8045d0074950c8e9&lnk=registry_custom_url" target="_blank") Target
                    li.nav-item.text-center
                        a.nav-link(href="/about") About
        div.index-div
            div.index-row
                p.index-message-sm= message
            div.index-row
                form(action="/upload" enctype="multipart/form-data" method="post")
                    div.custom-file
                        input(type="file" class="custom-file-input" name="uploaded-file" id="custom-file")
                        label.custom-file-label(for="customFile") Choose file
                        input.btn.btn-block.btn-primary(type="submit" id="submit-file")
    



        include ./partials/scripts-partial
    script.
     $('#custom-file').on('change', function (e) {
         let fileName = e.target.files[0].name;
         console.log(e)
         $('.custom-file-label').html(fileName);
     })

