doctype html
html(lang="en")
    head
        title= title
        include ./partials/stylesheet-partial

    body
        include ./partials/header
        // content
        form(action="/upload" enctype="multipart/form-data" method="post")
            div.form-group
                input(type="file" class="form-control-file" name="uploaded-file")
                input.btn.btn-default(type="submit")
                

        include ./partials/scripts-partial
        //- script.
        //-     $(".custom-file-input").on("change", function() {
        //-     var fileName = $(this).val().split("\\").pop();
        //-     $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        //-     });

