doctype html
html.h-100(lang="en")
    head
        title= title
        include ./partials/stylesheet-partial

    body.h-100
        include ./partials/header
        div.container.h-100
            div.row.justify-content-center.align-items-center.h-100
                div.jumbotron
                    form(action="/upload" enctype="multipart/form-data" method="post")
                        div.custom-file
                            input(type="file" class="custom-file-input" name="uploaded-file")
                            label.custom-file-label(for="customFile") Choose file
                            input.btn.btn-block.btn-primary(type="submit")
                

        include ./partials/scripts-partial
        //- script.
        //-     $(".custom-file-input").on("change", function() {
        //-     var fileName = $(this).val().split("\\").pop();
        //-     $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        //-     });

