
body {
    height: 100%;
    background-image: url("/images/image-2-scaled.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: grey;

}
html {
    height: 100%;
}
/* .navbar-light>div>ul>li>a:hover,
.navbar-lights>div>ul>li>a:focus {
    border-bottom: 5px solid;
    color: red;
} */
.navbar-dark .navbar-nav li>a.active{
    border-bottom: 4px solid whitesmoke;
}
.navbar a {
    font-family: Georgia, serif;
    font-size: large;
}
.index-message-large {
    font-family: Georgia, serif;
    font-weight: lighter;
    color: white;
    font-size: 5vw;
}
.index-message-md {
    font-family: Georgia, serif;
    font-weight: lighter;
    color: white;
    font-size: 2vw;
}
.index-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
}
.index-div-row {
    text-align: center;
}
.about-div {
    display: flex;
    /* flex-direction: column; */
    height: 75%;
    background-color: rgba(0, 0, 0, 0.3);
}
.about-div h3, p {
    color: white;
    font-family: Georgia, serif;
    /* margin: 20px; */
}
.about-column {
    margin: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.about-column p {
    font-size: 16px;
}
.about-column-bride {
    text-align: left;
}
.about-column-groom {
    text-align: right;
}
@media screen and (max-width: 600px) {
    div.about-column p {
      font-size: 15px;
    }
  }