
body {
    height: 100%;
    background-image: url("/images/image-2-scaled.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Tahoma, Geneva, sans-serif !important;

}
html {
    height: 100%;
}
/* .navbar-light>div>ul>li>a:hover,
.navbar-lights>div>ul>li>a:focus {
    border-bottom: 5px solid;
    color: red;
} */
.navbar-dark .navbar-nav li>a.active{
    border-bottom: 4px solid whitesmoke;
}
.navbar a {
    font-family: Tahoma, Geneva, sans-serif !important;
    font-size: large;
}
.index-message-large {
    font-family: Tahoma, Geneva, sans-serif !important;
    font-weight: lighter;
    color: white;
    font-size: 5vw;
}
.index-message-md {
    font-family: Tahoma, Geneva, sans-serif !important;
    font-weight: lighter;
    color: white;
    font-size: 2vw;
}
.index-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.index-div-row {
    text-align: center;
}
.about-div {
    display: flex;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}
.about-div h3, p {
    color: white;
}
.about-column {
    margin: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.about-column-bride {
    text-align: left;
}
.about-column-groom {
    text-align: right;
}
