
/* body {
    background-image: url("/images/bridge-scaled.png");
    background-size: cover;
    background-repeat: no-repeat;
} */
/* .header {
    color: pink;
} */
/* body,html {
    height: 100%;
} */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* * {
   outline: 1px solid red;
  } */
