
body {
    height: 100%;
    background-image: url("/images/bridge-scaled.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
html {
    height: 100%;
}
/* .navbar-light>div>ul>li>a:hover,
.navbar-lights>div>ul>li>a:focus {
    border-bottom: 5px solid;
    color: red;
} */
.navbar-light .navbar-nav li>a.active{
    border-bottom: 4px solid grey;
}
.navbar a {
    font-family: Tahoma, Geneva, sans-serif !important;
}
.index-message {
    font-family: Tahoma, Geneva, sans-serif !important;
    font-weight: normal;
    color: white;
    font-size: 5vw;
}
.registry-links {
    text-decoration:none;
}
.registry-links>img {
    border-style: solid;
    margin-right: 10px;
    margin-left: 10px;
}
/* .registry-links>img:hover {
    opacity: 0.9;
} */

