
body {
    height: 100%;
    background-image: url("/images/image-5-scaled.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Georgia, serif !important;
}