
html {
    height: 100%;
}
.navbar-dark .navbar-nav li>a.active{
    border-bottom: 4px solid whitesmoke;
}
.navbar a {
    font-size: large;
}
.index-message-large {
    font-weight: lighter;
    color: white;
    font-size: 5vw;
}
.index-message-md {
    font-weight: lighter;
    color: white;
    font-size: 2vw;
}
.index-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.index-div-row {
    text-align: center;
}
.index-div p {
    color: white;

}
@media screen and (max-width: 600px) {
    div.index-div p.index-message-large {
        font-size: 40px;
    }
    div.index-div p.index-message-md {
        font-size: 20px;
    }
    nav.navbar {
        background-color: rgba(0, 0, 0, 0.7) !important;
    }
  }