
body {
    height: 100%;
    background-image: url("/images/image-3-scaled.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Georgia, serif !important;

}
.index-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}